

.maptext {
    color:          blue;
    text-align:       left;
    width:            60%;
    position:         relative;
    top:              5%;
    left:             20%;
    border:           1px solid green;

  }
  